<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>

    <!-- assembly Locations
      Specify the full path to the assembly you wish to search for create services for.
      You can specify as many as you need.
    -->
    <assemblyLocations>
      <array>
        <item>Specify library dll here.</item>
      </array>
    </assemblyLocations>

    <!-- serviceFileLocations
      Specify the full pat to the service file you wish to write the service entries for.
      You can specify as many as you need.
    -->
    <serviceFileLocations>
      <array>
        <item>C:\web.config</item>
      </array>
    </serviceFileLocations>

    <!-- additionalServices 
      You can use this section to have the write paste in the following string
      after inserting the services. They will be put within the same xml element.
    -->
    <additionalServices>
      <![CDATA[
    ]]>
    </additionalServices>

    <!-- serviceFileElement
      The service writer will use this to decend into the appropriate area of the
      service files before inserting the service strings.
      
      Eg.
      servicefile.services -> maps to the xml below.
      <servicefile>
        <services>
          Insert services here. 
        </services>
      </servicefile>
    -->
    <serviceFileElement>system.serviceModel;services</serviceFileElement>

    <!-- serviceStringFormat
      Specifies the format of the service entries. 
       - {0} maps to the name of the entity
       - {1} maps to the namespace of that entity.
    -->
    <serviceStringFormat>
      <![CDATA[
		<service name="RRA.Beacon.Recruiter.EntityFramework.ServerProxy`1[[{1}.{0}, {1}, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" behaviorConfiguration="ServiceTypeBehaviors">
			<endpoint address="" binding="wsHttpBinding" bindingConfiguration="IServerProxy" contract="RRA.Beacon.Recruiter.EntityFramework.IServerProxy`1[[{1}.{0}, {1}, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"/>
		</service>
      ]]>
    </serviceStringFormat>

    <!-- NamespaceName
      This application assumes all classes that are services derive from a base class.
      Specify the namespace this service base class resides in.
    -->
    <NamespaceName>RRA.Beacon.Recruiter.EntityFramework</NamespaceName>

    <!-- BaseClassName
      Specify the class name of this service base class.
      -->
    <BaseClassName>EntityBase</BaseClassName>

  </properties>
</configuration>