<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <servicesA>
    <servicesB>
      <services>
<service entity="TestAssembly.TestClassOne, TestAssembly" contract="TestAssembly.TestClassOne, TestAssembly" />
<service entity="TestAssembly.TestClassTwo, TestAssembly" contract="TestAssembly.TestClassTwo, TestAssembly" />
</services>
    </servicesB>
  </servicesA>
</configuration>