<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>

    <assemblyLocations>
      <array>
        <item>C:\Users\Administrator\Documents\Visual Studio 2008\Projects\Beacon.SCM\TestAssembly\bin\Debug\TestAssembly.dll</item>
      </array>
    </assemblyLocations>

    <serviceFileLocations>
      <array>
        <item>C:\Users\Administrator\Documents\Visual Studio 2008\Projects\Beacon.SCM\Beacon.SCM.Test\TestConfigurationData/ServiceConfigA.config</item>
        <item>C:\Users\Administrator\Documents\Visual Studio 2008\Projects\Beacon.SCM\Beacon.SCM.Test\TestConfigurationData/ServiceConfigB.config</item>
      </array>
    </serviceFileLocations>

    <additionalServices>
    <![CDATA[
    <service crap="blah"></service>
    ]]>
    </additionalServices>

    <serviceStringFormat>
      <![CDATA[
      <service entity="{1}.{0}, {1}" contract="{1}.{0}, {1}" />
      ]]>
    </serviceStringFormat>

    <serviceFileElement>servicesA;servicesB;services</serviceFileElement>
    <NamespaceName>TestAssembly</NamespaceName>
    <BaseClassName>TestBase</BaseClassName>
  </properties>
</configuration>